<mat-grid-list cols="12">
  <mat-grid-tile [colspan]="6">
    <span>{{data.length}} Triples Selected</span>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2">
    <mat-icon svgIcon="move-icon"></mat-icon>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2">
    <mat-icon svgIcon="copy-icon"></mat-icon>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2">
    <mat-icon svgIcon="delete-icon" (click)="deleteTriples()"></mat-icon>
  </mat-grid-tile>
</mat-grid-list>
