
.mat-cell:first-child, .mat-header-cell:first-child
  max-width: 5%

.mat-cell:nth-child(2)
  max-width: 19%

.mat-cell:nth-child(3)
  max-width: 19%

.mat-cell:nth-child(4)
  max-width: 19%

.mat-cell:last-child
  max-width: 2%

.action-icon
  height: 16px
  cursor: pointer

.example-full-width
  width: 100%

.mat-table
  overflow: auto
  max-height: 535px

.mat-header-cell .mat-sort-header-sorted
  color: black

.bulk-action-msg
  color: #3dcd58
