<mat-grid-list cols="10" rowHeight="30px">
  <mat-grid-tile [colspan]="4">
    <mat-form-field floatPlaceholder="never" class="example-full-width">
      <input matInput #filter placeholder="Filter triples">
    </mat-form-field>
  </mat-grid-tile>
</mat-grid-list>
<mat-table #table [dataSource]="triplesDatasource" matSort>
  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null"
                    [disabled]="!tripleDatabase.data.length"
                    [checked]="isMasterToggleChecked()"
                    color="primary">
      </mat-checkbox>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopImmediatePropagation()"
                    (change)="$event ? tripleSelected(selection,row) : null"
                    [checked]="selection.isSelected(row)"
                    color="primary">
      </mat-checkbox>
    </mat-cell>
  </ng-container>
  <!-- Graph Column -->
  <ng-container matColumnDef="graph">
    <mat-header-cell *matHeaderCellDef mat-sort-header> GRAPH</mat-header-cell>
    <mat-cell *cdkCellDef="let row"> {{row.graph | uriExtractor}}</mat-cell>
  </ng-container>

  <!-- Subject Column -->
  <ng-container matColumnDef="subject">
    <mat-header-cell *matHeaderCellDef mat-sort-header> SUBJECT</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.subject | uriExtractor}}</mat-cell>
  </ng-container>

  <!-- Predicate Column -->
  <ng-container matColumnDef="predicate">
    <mat-header-cell *matHeaderCellDef mat-sort-header> PREDICATE</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.predicate | uriExtractor}}</mat-cell>
  </ng-container>

  <!-- Object Column -->
  <ng-container matColumnDef="object">
    <mat-header-cell *matHeaderCellDef mat-sort-header> OBJECT</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.object | uriExtractor}}</mat-cell>
  </ng-container>

  <!-- Action Column -->
  <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let row">
      <mat-icon svgIcon="action-icon" class="action-icon"></mat-icon>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-paginator #paginator
               [length]="tripleDatabase.data.length"
               [pageIndex]="0"
               [pageSize]="10"
               [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>
