<!--<mat-grid-list cols="6" rowHeight="72px" class="header">
  <mat-grid-tile [colspan]="5">
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-raised-button color="primary" (click)="reloadGraph()">Reload</button>
  </mat-grid-tile>
</mat-grid-list>-->
<div id="graph" class="graph-container"></div>
