.search-icon {
  padding-right: 8px;
  width: 26px !important;
  padding-bottom: 6px;
}

.search-container {
  display: flex;
  flex-direction: row;
}

.search-container > * {
  padding: 1em;
}

.search-select {
  flex: 30%;
}

.search-input {
  flex: 70%;
}


@media only screen and (max-device-width: 480px) {
  .search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .search-container > * {
    flex: 1;
  }

}
