<div class="search-container">
  <mat-form-field class="search-select">
    <mat-select [(ngModel)]="selectedEntity" name="entity">
      <mat-option *ngFor="let entity of entities" [value]="entity.value">
        {{entity.text}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="search-input" floatPlaceholder="never">
    <mat-icon matPrefix svgIcon="search-icon" class="search-icon"></mat-icon>
    <input matInput placeholder="Search (eg. spo#_mcb_ara_rca_intrinsic_)" [(ngModel)]="uri"
            (keyup.enter)="viewTriples(uri,selectedEntity)">
  </mat-form-field>
</div>
