<mat-grid-list cols="12" rowHeight="60px">
  <mat-grid-tile [colspan]="6">
    Delete {{data.length}} triples?
  </mat-grid-tile>
  <mat-grid-tile [colspan]="6">
  </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="12" rowHeight="30px">
  <mat-grid-tile [colspan]="4"></mat-grid-tile>
  <mat-grid-tile [colspan]="4">
    <button mat-button (click)="cancel()">CANCEL</button>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="4">
    <button mat-raised-button color="primary" (click)="deleteTriples()">DELETE</button>
  </mat-grid-tile>
</mat-grid-list>
