.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td
  height: 58px
  padding-left: 24px
  padding-top: 19px


.table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td
  font-size: 13px
  color: #212121

.table > thead > tr > th
    font-size: 14px
    font-weight: 500
    padding: 15px 24px
    color: #9fa0a4


.table > thead > tr > th
  border-bottom: none !important

.sa-homepage
  background-color: #f7f7f7

.sa-img-container
  margin: 0 auto

.sa-graph-img
  height: 82%
  margin-top: 3%

.example-full-width
  width: 100%

.triples-table
  margin-left: 3%

.triples-table tbody
  background-color: #ffffff

.triples-table tbody tr
  border-top: 1px solid #f5f5f5

.triples-table tbody tr td
  border-top: none
  color: #333333
  font-size: 14px

.primary-btn
  color: #ffffff
  font-size: 14px
  font-weight: bold
  background-color: #3dcd58

.mat-icon.md-16
  height: 16px

.example-container
  display: flex
  flex-direction: column
  max-height: 700px
  min-width: 300px
  background-color: #f7f7f7
  padding: 16px

.graph-icon
  cursor: pointer
  height: 16px
  margin-left: 16px

.table-icon
  opacity: 0.6
