<!-- <app-search [uri]="uri" [selectedEntity] = "selectedEntity"></app-search> -->
<div class="example-container">
  <mat-grid-list cols="16" rowHeight="20px">
    <mat-grid-tile [colspan]="15"></mat-grid-tile>
    <mat-grid-tile [colspan]="1">
      <mat-icon matTooltip="List View" class="graph-icon table-icon" svgIcon="table-view" (click)="displayTableView()" *ngIf="!selectTableView"></mat-icon>
      <mat-icon matTooltip="List View" class="graph-icon" svgIcon="table-view-selected" *ngIf="selectTableView"></mat-icon>
      <mat-icon matTooltip="Graph View" class="graph-icon" svgIcon="graph-view" (click)="displayGraphView()" *ngIf="selectTableView"></mat-icon>
      <mat-icon matTooltip="Graph View" class="graph-icon" svgIcon="graph-view-selected" *ngIf="!selectTableView"></mat-icon>

    </mat-grid-tile>
  </mat-grid-list>
  <app-table *ngIf="!triplesLoader && selectTableView"></app-table>
  <app-graph *ngIf="!triplesLoader && !selectTableView"></app-graph>
</div>

