.image-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.image {
  height: 400px;
  margin-top: 25px;
  margin-bottom: 40px;
}

.tab-content-search {
  padding-top: 2em;
  padding-left: 3em;
  padding-right: 3em;
}

.tab-content-upload {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 2em;
}
