
<!-- Image -->
<div class="image-container">
  <img class="image" src="{{graphImageUrl}}">
</div>
<div>
  <mat-tab-group mat-align-tabs="center" mat-stretch-tabs>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>library_books</mat-icon>
        &nbsp;&nbsp;SPARQL DB
      </ng-template>
      <div class="tab-content-search">
          <app-search [selectedEntity] = "selectedEntity" [uri]="" (showGraph)="showGraph($event)"></app-search>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>folder</mat-icon>
        &nbsp;&nbsp;Upload File
      </ng-template>
      <div class="tab-content-upload">
        <app-file-upload (showGraph)="showGraph($event)"></app-file-upload>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
<div *ngIf="showData">
  <mat-tab-group mat-align-tabs="center" mat-stretch-tabs>
    <mat-tab label="">
      <ng-template mat-tab-label>
        <mat-icon>list_alt</mat-icon>
        &nbsp;&nbsp;Table View
      </ng-template>
      <app-table></app-table>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>library_books</mat-icon>
        &nbsp;&nbsp;Graph View
      </ng-template>
      <app-graph></app-graph>
    </mat-tab>
  </mat-tab-group>
</div>
